body {
    background: url('../img/backwall.jpg') no-repeat center fixed;
    position: relative;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
}

@media only screen and (max-width: 990px) {
    .sig-hide {
        display: none !important
    }
    .color {
        background-color: white !important;
    }
    .sig-sec {
        height: auto;
    }
    .sig-margin {
        margin-top: 100px;
    }
    .sig-footer {
        width: 100%;
        text-align: center;
    }
    .sig-footerM {
        display: none
    }
}

@media only screen and (min-width: 990px) {
    .sig-hide {
        display: block !important
    }
    .sig-sec {
        min-height: 100%;
    }
    .grad {
        height: 50px;
        background: transparent;
        background: -webkit-linear-gradient(transparent, rgba(255, 255, 255, .6));
        background: -o-linear-gradient(transparent, rgba(255, 255, 255, .6));
        background: linear-gradient(transparent, rgba(255, 255, 255, .6));
    }
    .sig-footerM {
        position: absolute;
        bottom: -300%;
        text-align: center;
        width: 100%;
    }
    .sig-footer {
        display: none
    }
    .jnavif{
    background-color: transparent;
    box-shadow: none;
}

.jnavel{
    background-color: white;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    -webkit-animation: animatetop 0.4s;
    animation: animatetop 0.4s;
}
}

nav {
    position: fixed;
    z-index: 999;
    background-color: transparent;
    box-shadow: none;
}

.nav-wrapper {
    padding: 0px 10px;
}

nav ul a {
    color: black !important;
    /*border: 2px solid black;
    margin: 0 20px;
    border-radius: 3px;*/
}

.global-overlay {
    position: fixed;
    top: 0;
    left: -100vw;
    height: 100%;
    overflow: visible;
    width: 100%;
    opacity: 0;
    z-index: -1;
}

#constellationel {
    left: 0;
    top: 0;
    position: absolute;
}

.sig-width {
    width: 100%
}

.sig-width h1 {
    font-size: 40px;
    text-shadow: 0px 1px 15px rgba(0, 0, 0, .8);
}

.sig-margin img {
    height: 55px !important;
    width: auto
}

.sig-sec h1 {
    margin: 5px 0
}

#sidenav-overlay {
    display: none !important
}

.side-nav {
    width: 245px !important
}

.card {
    padding: 10px;
}

.sig-width > a > img {
    height: 64px;
    width: auto;
    margin: 20px 10px;
    cursor: pointer;
}

.waves-effect {
    z-index: 0 !important;
}

.btn,
btn:hover {
    color: white !important;
    background-color: transparent !important;
    border: 2px solid grey !important;
}

nav i.material-icons {
    height: 1px !important;
}

.customw{
    background-color: rgba(255, 255, 255, .8) !important;
}

blockquote{
    text-align: left;
    color: black;
    border-left: 5px solid black !important;
}

a.brand-logo{
    height: 64px;
}

.brand-logo > img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#intro > .sig-width > img {
    margin: 10px 15px;
    height: 64px !important;
}

.sig-hiden{
    overflow: hidden;
}

.ncontainer { margin : 0 auto; width: 90% }

.w3-animate-fading{-webkit-animation:fading 10s infinite;animation:fading 10s infinite}
@-webkit-keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-opacity{-webkit-animation:opac 1.5s;animation:opac 1.5s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom {-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
